*.a
*.aps
*.bak
*.bsc
*.diff
*.dll*
*.dylib
*.exe
*.exp
*.hlp
*.hm
*.idb
*.ilk
*.lib
*.log
*.map
*.mo
*.ncb
*.o
*.obj
*.opensdf
*.opic
*.opt
*.orig
*.pc
*.pch
*.pdb
*.ph
*.plg
*.pot
*.rej
*.res
*.sbr
*.sdf
*.so*
*.suo
*.sup
*.user
*.vcb
*.vcl
*.vco
*~
*.patch
.*.swp
.depend
.DS_Store
config.h
config.mak
revision.h
core
*.kdev4
.kdev*
gmon.out
*.dmg
